.message__data{data: {id: message.id}}
  .message__data--name= message.user.name
  .message__data--date= message.created_at
  .message__data--content
    =message.body
    -if message.image?
      .message__data--content--image
        =image_tag message.image.url
