%body
 .content
  .content__top
   .content__top__left
    %h3 kusumi
    .icon
     %i.fa.fa-pencil-square-o
     %i.fa.fa-cog
   .content__top__right
    %p sampleグループ
    %h4 Edit
    %h3 Members kusumi kusumi2
  .content__left
   %p sampleグループ
   %h3 まだメッセージはありません。
   %p sampleグループ2
   %h3 まだメッセージはありません。
  .content__right
   %p kusumi
   %h4 2017/3/2
   %h3 sample text
   %p kusumi2
   %h4 2017/3/3
   %h3 sample text2
  .content__bottom
   %textarea{:placeholder => "type a message"}
   %i.fa.fa-picture-o
   .content__bottom--submit
    %p
    %label{:for => p}send
