.notice {
  background-color: $button-blue;
  text-align: center;
  color: $white;
}

.alert {
  background-color: $alert-red;
  text-align: center;
  color: $white;
}

.success {
  background-color: $button-blue;
  text-align: center;
  color: $white;
}

